input.btn { 
	  color:#050; 
	  font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
	  background-color:#fed; 
	  border:1px solid; 
	  border-color: #696 #363 #363 #696; 
	} 

.x-icon-tickets {
   background-image: url('images/tickets.png');
}
.x-icon-subscriptions {
   background-image: url('images/subscriptions.png');
}
.x-icon-users {
   background-image: url('images/group.png');
}
.x-icon-templates {
   background-image: url('images/templates.png');
}
.on {
   background-image:url('images/icon_on.png') !important;
}
  .off {
   background-image:url('images/icon_off.png') !important;
}
  .all {
   background-image:url('images/icon_all.png') !important;
}
  .none {
   background-image:url('images/icon_none.png') !important;
}
  .internet {
   background-image:url('images/icon_web_small.png') !important;
}
  .mouse {
   background-image:url('images/icon_mouse_small.png') !important;
}
  .messages {
   background-image:url('images/icon_messages_small.png') !important;
}
  .sound {
   background-image:url('images/icon_sound.png') !important;
}
  .done {
   background-image:url('images/icon_done.png') !important;
}
  .cancel {
   background-image:url('images/icon_cancel.png') !important;
}
